body {
  background-color: #01132B; /* cor clara, você pode trocar para a que quiser */
  color: #ffffff
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h2, h3 {
  color: #ffffff; /* azul escuro */
}

p {
  color: #ffffff; /* cinza médio */
}


/* Container que permite scroll horizontal */
.table-responsive {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  min-width: 600px; /* largura mínima */
  margin: 20px 0;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007acc;
  color: white;
}

tr:nth-child(odd) {
  background-color: #ffffff; /* branco, pode trocar para outra cor */
}

tr:nth-child(even) {
  background-color: #e6f2ff; /* azul clarinho, por exemplo */
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
    margin: 10px;
  }
  th, td {
    padding: 6px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
}
